{{#footerall}}
<footer id="footer" class="py-1 bg-inverse">
   <div class="footer-main">
        <div class="container">
            <div class="row">
            {{#block1}}
                <div class="{{colclass}}">
                    <div class="infoarea">
                        <div class="footer-logo">
                            <!--a href="{{config.wwwroot}}/?redirect=0"-->
                            <a href="https://www.bsu.edu.ru/bsu/" target="_blank">
                            {{# logourl_footer}}
                                <img src="{{logourl_footer}}" alt="klass">
                            {{/ logourl_footer}}
                            </a>
                        </div>
                        {{{footnote}}}
                     </div>
                </div>
                {{/block1}}
                {{# infolink}}
                <div class="{{colclass}}">
                    <div class="foot-links">
                        <h5>{{s_info}}</h5>
                        <ul>
                           {{{infolink}}}
                         </ul>
                   </div>
                </div>
                {{/ infolink}}
                 {{# contact}}
                <div class="{{colclass}}">
                    <div class="contact-info">
                        <h5 class="nopadding">{{s_contact_us}}</h5>
                        <p>{{# address}}{{address}}{{/address}}</p>
                        {{# phoneno}}
                        <p><i class="fa fa-phone-square"></i>{{s_phone}} : {{phoneno}}</p>
                        {{/ phoneno}}
                        <!--p>По вопросам проведения олимпиады: Канищева Александра Владимировна <br/>
                        <i class="fa fa-envelope"></i>kanishcheva@bsu.edu.ru, <i class="fa fa-phone-square"></i>(4722) 30-18-39</p>
                        <p>Гальцев Александр Владимирович
                        <i class="fa fa-envelope"></i>galtsev@bsu.edu.ru, <i class="fa fa-phone-square"></i>(4722) 30-18-90</p>
                        <p>По вопросам обучения на подготовительных курсах:</p>
                        <p>Гималдинова Яна Асхатовна
                        <i class="fa fa-envelope"></i>gimaldinova@bsu.edu.ru,
                        <i class="fa fa-phone-square"></i>(4722) 30-18-79</p>
                        <p>Беленко Татьяна Владимировна
                        <i class="fa fa-envelope"></i>belenko_t@bsu.edu.ru, <i class="fa fa-phone-square"></i>(4722) 30-18-79</p-->
                        {{# emailid}}
                        <p><i class="fa fa-envelope"></i>{{s_email}} : <a class="mail-link" href="mailto:{{emailid}}"> {{emailid}}</a></p>
                        {{/ emailid}}
                    </div>
                </div>
                {{/ contact}}
            {{# url }}
                <div class="{{colclass}}">
                    <div class="social-media">
                    <h5>{{s_get_social}}</h5>
                    <ul>
                        {{# fburl}}
                            <li class="smedia-01">
                                <a href="{{fburl}}" target="_blank">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                        {{/ fburl}}

                        {{# pinurl}}
                            <li class="smedia-02">
                                <a href="{{pinurl}}" target="_blank">
                                    <!--i class="fa fa-pinterest-square"></i-->
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>

                        {{/ pinurl}}
                        {{# twurl}}
                            <li class="smedia-03">
                                <a href="{{twurl}}" target="_blank">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </li>
                        {{/ twurl}}

                        {{# gpurl}}
                            <li class="smedia-04">
                                <a href="{{gpurl}}" target="_blank">
                                   <!--i class="fa fa-google-plus-square"></i-->
                                   <i class="fa fa-vk"></i>
                                </a>
                            </li>
                        {{/ gpurl}}

                            <li class="smedia-04">
                                <a href="https://www.youtube.com/channel/UCGhplVRA76lCQYVA_VymLHw" target="_blank">
                                   <!--i class="fa fa-google-plus-square"></i-->
                                   <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {{/ url }}
            </div>
        </div>
    </div>
    <div class="footer-foot">
        <div class="container">
            {{# copyright_footer}}
                <p>{{{copyright_footer}}}</p>
            {{/ copyright_footer}}
        </div>
    </div>

</footer>
{{/footerall}}

<!--E.O.Footer-->

{{{ output.standard_footer_html }}}
{{{output.standard_end_of_body_html}}}

{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}